*{
  padding:0; 
  margin:0; 
box-sizing:border-box;
}
header{
  width: 100%;
  height: 100vh;
}
body{
    background-image: url('/images/beautifulpic.jpg');
    background-size:cover;
    background-attachment: fixed;  
}
/* for day night toggle */
.daynight .toggle-checkbox {
  display: none;
}
.daynight .toggle-label {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: rgb(224, 215, 215);
  border-radius: 25px;
  position: relative;
}
.daynight .toggle-label:before {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #91cbf1;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.daynight .toggle-checkbox:checked + .toggle-label {
  background-color:whitesmoke; 
}

.daynight .toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(25px);
}

.daynight .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}
.daynight .fa-moon-o:before {
  content: "\f186";
  font-family: FontAwesome;
  font-size: 24px;
  color: #43dfd7; 
  left: 5px; 
}

.daynight .fa-sun-o:before {
  content: "\f185"; 
  font-family: FontAwesome; 
  font-size: 24px; 
  color: rgb(172, 172, 7); 
  right: 5px; 
}

.daynight .toggle-checkbox:checked + .toggle-label .fa-moon-o {
  left: -25px;
}

.daynight .toggle-checkbox:checked + .toggle-label .fa-sun-o {
  right: -25px;
}

.daynight .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
}

.daynight .fa-moon-o {
  left: 2px;
}

.daynight .fa-sun-o {
  right: 2px;
}
/* for navigation bar */
nav{
  display:flex;
  justify-content: space-between;
  width:100%;
  height: 100px;
  color:lightblue;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:rgb(70, 4, 70);
  background-image: url('/images/clouds.jpg'); 
  background-size: cover;
  background-position: center;
}
.logo{
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  color:rgb(216, 34, 216);
  font-family: "Great Vibes", cursive;
  text-shadow: 2px 2px 4px rgb(10, 9, 9); 
}
.menu a{
  text-decoration: none;
  color:rgb(70, 4, 70);
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right:1rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgb(64, 240, 240); 
}
.menu a:hover{
  background: skyblue;
  border-radius: 10px;
}
.container1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
}
.left{
  flex:0 0 30%;
  margin-right: 5%;
}
.right{
  flex:1;
  margin-left: 5%;
}
.left img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(107, 4, 98);
  
}
@keyframes zoomIn {
  from {
      transform: scale(1.05);
  }
  to {
      transform: scale(1.1);
  }
}
.container1 .left img {
  transition: transform 1s ease-in-out;
}
.container1 .left img:hover {
  animation: zoomIn 1s forwards; 
}
.right h2{
  font-family: "Poppins", sans-serif;
  color:purple;
  text-shadow: 2px 2px 4px purple; 
}
.right h1{
  font-family:"Kalam", cursive;
  font: size 5em;
  color: purple;
  text-shadow: 2px 2px 4px purple; 
}
.right p{
  font-family:cursive;
  color:darkslategrey
}

.button:hover {
  background-color: #0056b3; 
}

.social-icons a {
  text-decoration: none;
  color: #333; 
  margin-right: 10px; 
  padding: 5px 5px;
  font-size:x-large;
}

.social-icons a:hover {
  color: #007bff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  text-decoration: none; 
  cursor: pointer;
}

.fa-download {
  color: whitesmoke;
  font-size: 24px; 
  margin-right: 5px; 
}

.container2{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;

}
.leftpic{
  flex:0 0 30%;
  margin-right: 5%;
}
.aboutme{
  flex:1;
  margin-right: 5%;
}

.leftpic img{
  width:100%;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(107, 4, 98);
}

@keyframes zoomIn {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.1);
  }
}

.container2 .leftpic img {
  transition: transform 1s ease-in-out;
}

.container2 .leftpic img:hover {
  animation: zoomIn 1s forwards; 
}

.aboutme h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font: size 5em;
  color: purple;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgb(207, 62, 159); 
}
.aboutme p{
  font-family:cursive;
  color:darkslategrey;
}
.aboutme h2{
  font-family:cursive;
  color:darkmagenta;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgb(218, 22, 159); 
}
.aboutme h3{
  font-family:"Trebuchet MS", Helvetica;
  color:purple;
}

.aboutme {
  padding: 0 40px 20px 0;
  line-height: 1.5rem;
}

.read-more-button {
  background-color: #9614ec;
  color: white;
  padding: 3px 3px;
  cursor: pointer;
  text-decoration: none;
}

.read-more-button:hover {
  background-color: #0056b3;
}

.services{
  text-align: center;
  font-family: "Poppins";
  
}
.intro h1{
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgb(218, 33, 224); 
}
.card{
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cardbody{
  flex-basis: 30%;
  border-radius: 10%;
  border: 2px solid #9614ec;
  box-shadow: #9614ec;
  cursor: pointer;
  padding:  5%;
}
.cardbody:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
}
.cardbody h3{
  font-size: 1.5rem;
}
.cardbody i{
  font-size: 2rem;
}
.cardbody label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}
.cardbody {
  transition: transform 0.5s ease;
}
.cardbody:hover {
  transform: scale(1.05); 
  
}
.intro h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font: size 5em;
  color: purple;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgb(202, 50, 156); 
}
.intro h2{
  font-family:cursive;
  color:darkmagenta;
  font-weight: 400;
}
.card h3{
  color:darkmagenta;
}
.cardbody p{
  font-family:cursive;
  color:darkslategrey;
}
.container3{
  display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100%;
height: 100%;
align-items: center;
flex-wrap: wrap;
padding: 0 70px;
}
.container3 h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: purple;
  text-align: center;
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgb(240, 51, 247); 
}
.skills {
  margin-top: 5%;
  padding: 5%;

}
.skills {
  transition: transform 0.5s ease;
}

.skills:hover {
  transform: scale(1.05); 
  
}
.skill-list {
  list-style: none;
  padding: 0;
}

.skill-list li {
  margin-bottom: 5%;
}

.skill-name {
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.progress-container {
  width: 300px;
  height: 30px;
  background-color: #4f5a5f;
  border-radius: 5px;
  position:relative;
}

.progress-bar {
  height: 100%;
  background-color: #eb6fa3;
  border-radius: 5px;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.skill-list li{
  font-family: "Poppins";
  color:purple;
}

.container4{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 90px;
  padding-top: 50px;

}
.container5{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 90px;
  padding-top: 50px;

}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.project {
  position: relative;
  margin: 20px;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  
}
.project img {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 15%;
  object-fit: cover;
  box-shadow: 10px 10px 10px rgb(107, 4, 98);
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(216, 128, 176, 0.8);
  color: #9107a3;
  padding: 10px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.project:hover {
  transform: scale(1.1);
}

.project:hover .project-info {
  opacity: 1;
  visibility: visible;
}
.container5 .myproject{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: purple;
  text-align: center;
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgb(223, 56, 153); 
}
.container6{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 90px;
  padding-top: 50px;
font-family: "poppins";
}
.contact-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.contact-section h2 {
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: purple;
  text-align: center;
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgb(223, 56, 153); 
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin-bottom: 15px;
  color:rgb(97, 4, 77);
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #df58d8;
  border-radius: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #c950d4;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.8s;
}

button:hover {
  background-color: #0056b3;
}
.footer {
  background-image:url('/images/footer.jpg');
  padding: 20px 0;
  text-align: center;
}

.footer .container {
 width:100%;
  margin: 0 auto;
}

.footer .contact-info {
  margin-bottom: 20px;
}

.footer .contact-button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #c816d8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.footer .contact-button:hover {
  background-color: #0056b3;
}

.footer p {
  margin: 0;
  color: #343536;
  font-size: 14px;
  
}

/* Media query for iPad Mini */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-size: 18px; 
  }

  h1, h2, h3, h4, h5, h6, p, a {
    font-size: 1.2em; 
  }
  .card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
  .cardbody {
    width: 100%;
    margin-bottom: 20px;
  }
  .projects {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
  }
  .project {
    width: 90%; 
    max-width: 300px; 
    margin: 20px; 
  }
}

/* Media query for Samsung Galaxy S8+ */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  nav {
    width: 100%; 
    position: relative; 
  }
  .menu {
    margin-top: 10px; 
  }
  .logo {
    margin-bottom: 10px; 
  }
  .container1,
  .container2 {
    width: 90%;
    max-width: 300px;
    margin: 120px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }
  .left img,
  .leftpic img {
    width: 100%; 
    height: auto;
    display: block; 
    margin-bottom: 5px;
   
  }
  .container2 .leftpic {
    margin-right: 50px; 
  }
  .cardbody {
    margin-bottom: 30px; 
    
  }
  .footer {
    padding: 10px 0;
}

.footer .container {
    max-width: 320px;
    text-align: center; 
}

.footer .contact-info {
    margin-bottom: 10px; 
}

.footer .contact-button {
    display: inline-block; 
    margin: 0 5px; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

.footer p {
    max-width: 100%;
    overflow-wrap: break-word; 
}
  
}

/* Styles for small mobile phones */
@media only screen and (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .navbar {
    flex-direction: column; 
    align-items: center;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}
